$gap: 15px;

.pro-drawer {
    .el-drawer__header {
        margin: 0;
        padding: $gap;
        background-color: var(--el-fill-color-light);
        border-bottom: 1px solid var(--el-border-color-lighter);
        font-weight: 600;
    }

    .el-drawer__body {
        padding: $gap;
    }

    .el-drawer__footer {
        border-top: 1px solid var(--el-border-color-lighter);
        padding: $gap;
    }
}
