.pro-table__search--inner {
    width: 100%;
    height: 100%;

    .el-form-item {
        width: 100%;
        margin: 0;
    }

    .el-form-item--inline {
        .el-form-item {
            margin: 0;
        }
    }

    .footer-wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        .el-button,
        .el-link {
            margin: 0;
        }
    }

    // grid 自适应
    .el-row {
        display: grid;
        // 默认一列
        grid-template-columns: repeat(1, 1fr);
        // 间隔20px
        gap: 20px;
        // grid-auto-flow: row dense;
    }

    @media (min-width: 768px) {
        .el-row {
            grid-template-columns: repeat(2, 1fr);

            /* 大于 768px 时，range 占据两列 */
            .jc-pro-form-item-range {
                grid-column: span 2;
            }

            /* 大于等于两列时，footer 右对齐（具体位置由 JS 精确放置） */
            .jc-pro-form-item-footer {
                /* 固定到最后一行的最后一列，不占用前面空间 */
                grid-column: -2 / -1;
            }
        }
    }

    @media (min-width: 992px) {
        .el-row {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 1200px) {
        .el-row {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1920px) {
        .el-row {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
