$gap: 15px;

.pro-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap;
    overflow: hidden;
    background-color: transparent;

    &.is-card {
        .pro-table__search,
        .pro-table__content {
            background-color: var(--el-bg-color, #fff);
            border: 1px solid var(--el-border-color-light, #e4e7ed);
            border-radius: 6px;
        }
    }

    &__search {
        width: 100%;
        min-height: 50px;
        padding: $gap;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding: $gap;
        overflow: hidden;

        .pro-table__header {
            width: 100%;
            height: 40px;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            gap: $gap;

            .pro-table__header--left {
                display: flex;
                align-items: center;
                flex: 1;

                &--title {
                    font-size: 22px;
                    font-weight: bold;
                    color: var(--el-text-color-primary, #303133);
                    margin-right: $gap * 2;
                }
            }
        }
    }

    &__data {
        flex: 1;
        background-color: lightblue;
        overflow: hidden;

        .el-table {
            width: 100%;
            height: 100%;

            .el-table__header-wrapper {
                th.el-table__cell,
                [class*='el-table-fixed-column'] {
                    background-color: var(--el-fill-color-light);
                    color: var(--el-text-color-primary);
                }
            }
        }
    }

    &__pagination {
        width: 100%;
    }
}
