$gap: 15px;

.pro-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap;
    overflow: hidden;
    background-color: transparent;

    &.is-card {
        .pro-table__search,
        .pro-table__content {
            background-color: var(--el-bg-color, #fff);
            border: 1px solid var(--el-border-color-light, #e4e7ed);
            border-radius: 6px;
        }
    }

    &__search {
        width: 100%;
        height: 100px;
        background-color: skyblue;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding: 0 $gap;
        overflow: hidden;
    }

    &__toolbar {
        width: 100%;
        height: 50px;
        background-color: pink;
        overflow: hidden;
    }

    &__data {
        flex: 1;
        background-color: lightblue;
        overflow: hidden;

        .el-table {
            width: 100%;
            height: 100%;

            // --el-text-color-primary

            th.el-table__cell {
                background-color: var(--el-fill-color-light);
                color: var(--el-text-color-primary);
            }
        }
    }

    &__pagination {
        width: 100%;
        height: 50px;
        background-color: lightgreen;
    }
}
